<mat-card>
  <form>
    <div align="end">
      <button  mat-icon-button class="close-button"  [mat-dialog-close]="false"> <mat-icon class="close-icon" color="primary">close</mat-icon></button>
    </div>
      <!-- 2 column grid layout with text inputs for the first and last names -->

      <div class="row mb-4">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input  type="text" matInput  [(ngModel)]="copro.codeCoproprietaire" name="codeCoproprietaire">
          </mat-form-field>
        </div>
        <div class="col">
          <div class="form-outline">
            <mat-form-field appearance="fill">
              <mat-label>NOM</mat-label>
              <input type="text"  matInput [(ngModel)]="copro.nomCopro" name="nomCopro" >
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <mat-form-field appearance="fill">
          <mat-label>CIN</mat-label>
          <input type="text" matInput [(ngModel)]="copro.cin"   name="cin" >
        </mat-form-field>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Téléphone Fixe</mat-label>
          <input [(ngModel)]="copro.teleFixe" name="teleFixe" type="number" matInput>
        </mat-form-field>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="copro.email" name="email" >
        </mat-form-field>
      </div>


      <!-- Submit button -->
      <button type="submit" (click)="save()" class="btn btn-primary btn-block mb-4">Ajouter</button>
    </form>

</mat-card>


